@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-500: rgb(99 102 241);
  --primary-600: rgb(79 70 229);
  --primary-700: rgb(67 56 202);
  --secondary: rgb(25, 24, 41);
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    179.4deg,
    rgb(12, 20, 69) -16.9%,
    rgb(71, 30, 84) 119.9%
  );
}

.cs-main-container {
  height: 80vh !important;
}
.cs-main-container,
.cs-chat-container .cs-conversation-header {
  background-color: transparent !important;
  border: none !important;
}

.cs-chat-container,
.cs-message-list {
  background-color: transparent !important;
}
.cs-message-input {
  background-color: transparent !important;
  border: none !important;
}

.cs-message-input__content-editor-wrapper,
.cs-message-input__content-editor-container,
.cs-message-input__content-editor {
  background-color: #927fbf !important;
}

.cs-message-input__content-editor {
  color: #423068 !important;
}
.cs-message-input__content-editor[data-placeholder]:empty:before {
  color: #423068 !important;
  opacity: 0.7;
}

.cs-conversation-header__user-name {
  background-color: transparent !important;
  color: #e1dbff !important;
}

.cs-message {
  margin-bottom: 20px !important;
}
.cs-message--incoming .cs-message__content {
  border-radius: 2em !important;
  background-color: #4f3b78 !important;
  color: #c0b4db !important;
}

.cs-message--outgoing .cs-message__content {
  border-radius: 2em !important;
  background-color: #927fbf !important;
  color: #423068 !important;
}
.cs-button--send {
  color: #927fbf !important;
}
